/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3DB2FF;

}

a {
    text-decoration: none;
}

/* flex */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}



/* width */

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

/* sizes */

.mt-8 {
    margin-top: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-32 {
    margin-bottom: 32px;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}


.fc .fc-scroller-liquid-absolute {
    position: relative !important;
}

.main_calendar {
    width: 75vw;
    margin-left: auto;
    padding-right: 40px;
    height: 80vh;

}

.fc .fc-scroller-harness-liquid {
    height: 80vh !important;
    overflow-y: scroll !important;
}

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #1E3163;
    border-radius: 10px;
}

.order_add {
    padding-left: 40px;
    width: 20vw;

}

.fc {
    width: 100% !important;
    height: 100% !important;
}

.fc .fc-scrollgrid-liquid {
    background-color: #FFF;
}

.fc-toolbar-title {
    color: #fff;
}

/* fc */
.fc .fc-button-primary {
    background-color: #1E3163 !important;
    border: none;
}

.fc .fc-button-primary:disabled {
    background-color: #716F81 !important;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #F8485E !important;
}

.fc-button-active:focus,
.fc-button-active:active,
.fc .fc-button-primary:focus {
    outline: none;
    box-shadow: none !important;
}

.fc .fc-daygrid-day-frame {
    border: none !important;
}


/* modal input */

.modal {
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-top: 34px;
}

.inputField {
    position: relative;
}

.inputField .input {
    width: 100%;
    border: 1px solid #FFE6E6;
    border-radius: 1px;
    height: 38px;
    padding: 0 8px;
}

.inputField .input:focus {
    outline-color: #3DB2FF;
}

.input_error {
    position: absolute;
    bottom: -15px;
    left: 0;
    color: #FF4848;
    font-size: 12px;
}


/* btn  */

.order_btn {
    height: 42px;
    text-align: center;
    color: #fff;
    background-color: #3DB2FF;
    border-radius: 6px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.order_btn:active {
    transform: scale(.9);
}

.btn {
    height: 32px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: .3s;
    padding: 4px 12px;
}


.btn-small {
    width: auto;
}

.btn:active {
    transform: scale(.9);

}

.btn__blue {
    background-color: #3DB2FF;
}

.btn__red {
    background-color: #FF4848;
}

.archived {
    color: #888;
    text-decoration: line-through !important;
}

.active {
    background: #1E3163;
}


/* primary select */

.primary-select {
    position: relative;
}

.primary-select>.css-yk16xz-control {
    border: none !important;
}

.css-yk16xz-control {
    text-align: start !important;
}

.css-26l3qy-menu {
    text-align: start !important;
}



@media screen and (max-width: 1024px) {
    .main_content {
        flex-direction: column;
    }

    .main_calendar {
        margin: 0px auto;
        padding: 40px;
        width: 100%;
        height: 100vh;
    }

    .fc .fc-toolbar {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 20px;
    }

    .fc .fc-scroller-harness-liquid {
        height: 70vh !important;
        overflow-y: scroll !important;
    }

    .order_add {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
}


/* navbar */

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #1E3163;
}

.text-white {
    color: #fff
}


@import url('./styles/main.css');